# .gitignore

# Environment
.env
.env.*

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Django
db.sqlite3
staticfiles/
mediafiles/

# uv
.python-version

# OS
.DS_Store
Thumbs.db